{% extends "app/layout.html" %}

{% block content %}

<div class="deal">
    <h1> Deals page </h1>

    {%for el in profit%}
    <div class="profit">
        <h3>Profit</h3>
        <h3>{{el.profit}}</h3>
        <a href="{% url 'profit' %}" class="btn btn-warning">Update profit </a>
    </div>
    {% endfor %}
    
    {%if deals%}
    <div class="row">
        {%for el in deals%}
        {%if el.deal_status%}
    
        <div class="col-sm-2">
            <div class="card text-white bg-success mb-3" style="width: 10rem;">
                <img class="card-img-top" src="{{el.img}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{el.item_name}}</h5>
                    <p class="card-text">Buy price: {{el.price_buy}}</p>
                    <p class="card-text">Sell price: {{el.price_sell}}</p>
                </div>
            </div>
        </div>
    
        {%else%}
   
        <div class="card text-white bg-warning mb-3" style="width: 10rem;">
            <img class="card-img-top" src="{{el.img}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{el.item_name}}</h5>
                <p class="card-text">Buy price: {{el.price_buy}}</p>
                <p class="card-text">Sell price: {{el.price_sell}}</p>
                <a href="{% url 'deals-edit' el.id %}" class="btn btn-secondary">Edit</a>
                <a href="{% url 'deals-sold' el.id %}" class="btn btn-success">Sold!</a>

            </div>
        </div>


        {%endif%}
    
        {% endfor %}
    </div>
    {%else%}
    <p> You have no deals !</p>
    {%endif%}
</div>

{% endblock %}
