{% extends "app/layout.html" %}
{% block title %}Deal edit{% endblock %}

{% block content %}

<div class="edit deal">
    
    <form method="post">
        {%csrf_token%}
        <h1> Deals edit page </h1>
        {{ deal_edit.item_name }}<br>
        {{ edit_form.price_buy }}<br>
        {{ edit_form.price_sell }}<br>
        {{ edit_form.item_fv }}<br>
        <span>{{ error_editform }}</span>
        <div id="liveAlertPlaceholder"></div>
        <button type="submit" class="btn btn-success" id="btn-edit">Edit deal</button>
    </form>
    

</div>

<div id="bg-spinner">
    <div id="position-spinner">
        <span id="spinner"></span>
    </div>
</div>
{% endblock %}

{% block scripts %}
     <script>
         jQuery(function ($) {
             $(document).ajaxSend(function () {
                 $("#bg-spinner").fadeIn(500);
             });
             $('#btn-edit').click(function () {
                 $.ajax({
                     type: 'GET',
                     success: function (data) {
                         var d = $.parseJSON(data);
                         alert(d.Test);
                     }
                 }).done(function () {
                     setTimeout(function () {$("#bg-spinner").fadeOut(500);},
                         800);
                 });
             });
         });
         
    </script>
{% endblock %}