body {
    background: #B0E0E6;
}

aside {
    float: left;
    background: #FFDAB9;
    width: 15%;
    padding: 3%;
    height: 150vh;
    border-right: 2px solid #FF7F50;
    
}

    aside img {
        width: 150px;
        float: left;
        
    }
    aside p:hover {
        transition: all .3s ease;
        transform: scale(1.1);
    }

    aside .logo_title {
        font-size: 30px;
        font-weight: bold;
        position: relative;
        
    }

aside h3 {
    margin-top : 80px;
    font-size : 30px;
}

    aside ul li {
        color: #FF7F50;
        display: block;
        transition: all .3s ease;
        
    }

aside ul li:hover, aside ul a:hover {
        color: #FF7F50;
        text-decoration: none;
        transform: scale(1.1);
 }

aside ul li:link, aside ul a:link {
        text-decoration: none;       
}

.card {
    color: #FF7F50;
    background: #ccffcc;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
}

main .main_btn {
    float: left;
    color: #FF7F50;
    margin-top: 15px;
    margin-left: 15px;
    width: 10%;
}
.btn-warning {
    margin-left: 5%;
    width: 150px;
    height: 70px;
}
.alert-warning {
    margin-left: 1%;
    margin-right: 2%;
    width: 150px;
}

.alert-success {
    margin-right: 2%;
    margin-left: 1%;
    display: flex;
    width: 150px;
}

.profit {
    margin-left: 20%;
    margin-top: 10px;
    display: flex;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
.deal {
    background-image: url("https://64.media.tumblr.com/84743335f479d62aa22a71ae8564632a/de5a35eddd9fad73-cc/s640x960/f4075cc27ebb8919e2a4e40f5f3bc5a6ef95d355.gif");
    color: #B0E0E6;
}
.search_bar {
    width: 450px;
    height: 50px;
    margin-left: 100px;
    display: flex;
}

.btn-outline-success {
    display: flex;
    margin-top: 10px;
}

.row {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.row > div[class*='col-'] {
    display: flex;
}
/*1600x975*/
.my-carousel {
    padding: 0;
    width: 1725px;
    margin-left: 305px;
    float: initial;
}

.pagination {
    margin-top: 150px;
    
}


.text-center {
    margin-left: 350px;
    float: initial;
    width: 755px;
    height: 300px;
    display: flex;
}