{% extends "app/layout.html" %}

{% block content %}

<div class="main_btn">
    <h1>DealStatist</h1>
    <p> Main page </p>
    <p> To use our service please log in or register new account !</p>
    <div class="giffed-logo">
        <span class="image">
                    
                <img src="../../static/app/img/giflogo.gif" />

                </span>
    </div>
    <p><a href="{% url 'login' %}" class="btn btn-primary btn-large">Log in</a></p>

    <p><a href="{% url 'register' %}" class="btn btn-primary btn-large">Register</a></p>
</div>


{% endblock %}
