{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
       
        <li class="">
       <a href="javascript:document.getElementById('logoutForm').submit()">
             <i class='bx bx-log-out icon' ></i>
             <span class="text nav-text"> Log off</span>
             </a>
             </li>
    </ul>
</form>

{% else %}



<ul class="nav navbar-nav navbar-right">
    <li class="">
       <a href="{% url 'login' %}">
             <i class='bx bx-log-in icon' ></i>
             <span class="text nav-text"> Log in</span>
             </a>
             </li>
</ul>

{% endif %}
